.prices {
  padding-bottom: 80px;
}
.prices .section-header {
  text-align: center;
}
.prices__body {
  margin-inline: auto;
  max-width: 1014px;
  display: flex;
  border: 1px solid var(--color-neutral-400);
}
.prices__image {
  max-width: 290px;
  width: 100%;
  min-height: 347px;
  background: url('../../assets/images/prices/sonya-prices.png') no-repeat;
  background-size: cover;
}
.prices__text {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.prices__text-header {
  max-width: 473px;
}
.prices__text-subheader {
  max-width: 473px;

  margin-top: 4px;
  text-align: right;
}
.prices__text-list {
  margin-left: 20px;
  li {
    margin-bottom: 11px;
  }
}
.prices__text-footer {
  display: flex;
  margin-top: 36px;
  justify-content: space-between;
}
.prices__text-price {
  display: flex;
  align-items: center;
}

@media (max-width: 924px) {
  .prices__image {
    max-width: 231px;
  }
}

@media (max-width: 832px) {
  .prices__body {
    display: flex;
    flex-direction: column-reverse;
    max-width: 356px;
  }
  .prices__image {
    max-width: 100%;
  }
  .prices__text {
    padding: 24px;
  }
  .prices__text-header {
    font-size: var(--font-size-500);
  }
  .prices__text-footer {
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
  }
  .prices__button {
    width: 100%;
  }
}
