.quote {
    width: 1440px;
    height: 551px;
    padding: 143px 203px 143px 732px;
    background-image: url('../../assets/images/sonya-quote.png');
}
.quote__text {
    border: 1px solid var(--color-white);
    background-color: rgba(68, 68, 68, 0.05);
    padding: 95px 32px;
    font-family: IFKica, serif;
    font-weight: lighter;
    color: var(--color-white);
    font-size: 24px;
    text-align: center;
}