.portfolio {
    max-width: 1440px;
    margin: 0 auto;
}
.portfolio__card {
    margin: 0 1.5rem;
    display: flex;

    border-bottom-left-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
    background-color: var(--color-black);

    color: var(--color-white);
}
.portfolio__content {
    margin: 0 auto;
    padding: 3.125rem 3rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.portfolio__header {
    font-family: IFKica, serif;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-white);
    text-align: left;
}
.portfolio__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.375rem;
    img {
        border: 0.0625rem solid var(--color-white);
    }
}
@media (max-width: 1165px) {
    .portfolio__content {
        padding: 2.34375rem 2.25rem;
    }
    .portfolio__header {
        font-size: 1.5rem
    }
    .portfolio__body {
        img {
            width: 246px;
        }
    }
}

@media (max-width: 886px) {
    .portfolio__content {
        padding: 1.5625rem 1.5rem;
    }
    .portfolio__header {
         font-size: 1rem
     }
    .portfolio__body {
        grid-gap: 0.6875rem; /*потом*/
        img {
            width: 164px;
        }
    }
}
@media (max-width: 607px) {
    .portfolio__content {
        padding: 2.34375rem 2.25rem;
    }
    .portfolio__header {
        font-size: 1.5rem
    }
    .portfolio__body {
        grid-template-columns: repeat(2, 1fr);
         img {
            width: 9.672rem;
        }
        #last, #last img {
            width: 20.156rem;
            grid-column: span 2;
            grid-row: span 2;
        }
    }
}
@media (max-width: 434px) {
    .portfolio__content {
        padding: 1.5625rem 1.5rem;
    }
    .portfolio__header {
        font-size: 1rem
    }
    img {
        width: 97px;
    }
    #last, #last img {
        width: 207px;
    }
    .portfolio__body {
        img {
            width: 97px;
        }
        #last, #last img {
            width: 207px;
        }
    }
}
@media (max-width: 316px) {}



