.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 22px;
    padding: 179px 101px;
    margin: 0 24px;
    background-color: var(--color-black);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: translateY(-35px);
}
