$margin: 1.5rem;
$gap: 1.5rem;
$padding-top: 3.125rem;
$padding-side: 3rem;
$padding-bottom: 6.4375rem;
$header__font-size: 2rem;
$text__font-size: 1rem;
$image__width-desktop: 20.5rem;
$image__width-mobile: 26.125rem;
$image__border: 0.0625rem;
@mixin info-scale($factor) {
  .portfolio {
    margin: 0 calc($factor * $gap);
  }
  .portfolio__card {
    padding: calc($factor * $padding-top) calc($factor * $padding-side) calc($factor * $padding-bottom);
  }
  .portfolio__header {
    margin-bottom: calc($factor * $gap);
    font-size: calc($factor * $header__font-size);
  }
  .portfolio__body {
    grid-gap: calc($factor * $gap);
  }
  .portfolio__image {
    border: $image__border solid var(--color-white);
  }
}
.portfolio {
  margin: 0 $gap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__card {
  padding: $padding-top $padding-side $padding-bottom;
  border-bottom-left-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
  background-color: var(--color-black);
}
.portfolio__header {
  margin-bottom: $gap;
  font-family: IFKica, serif;
  font-size: $header__font-size;
  font-weight: bold;
  color: var(--color-white);
  text-align: right;
}
.portfolio__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $gap;
}
.portfolio__image {
  width: $image__width-desktop;
  border: $image__border solid var(--color-white);
}
.image-1:hover { content: url("../../assets/images/portfolio/colored/image-1.png") } /* bigger in figma, changed to 328x469 */
.image-2:hover { content: url("../../assets/images/portfolio/colored/image-2.png") }
.image-3:hover { content: url("../../assets/images/portfolio/colored/image-3.png") }
.image-4:hover { content: url("../../assets/images/portfolio/colored/image-4.png") }
.image-5:hover { content: url("../../assets/images/portfolio/colored/image-5.png") }
.image-6:hover { content: url("../../assets/images/portfolio/colored/image-6.png") }
.image-7:hover { content: url("../../assets/images/portfolio/colored/image-7.png") }
.image-8:hover { content: url("../../assets/images/portfolio/colored/image-8.png") }
.image-9:hover { content: url("../../assets/images/portfolio/colored/image-9.png") }

@media(max-width: 1176px) {
  @include info-scale(0.8);
  .portfolio__image {
    width: calc(0.8 * $image__width-desktop);
  }
}
@media(max-width: 941px) {
  @include info-scale(0.6);
  .portfolio__image {
    width: calc(0.6 * $image__width-desktop);
  }
}
@media(max-width: 705px) {
  @include info-scale(1);
  .portfolio__header {
    text-align: left;
  }
  .portfolio__body {
    display: flex;
  }
  .portfolio__image {
    width: $image__width-mobile;
  }
  .image-1 {display: none; content: url("../../assets/images/portfolio/colored/image-1.png") }
  .image-2 {display: none; content: url("../../assets/images/portfolio/colored/image-2.png") }
  .image-3 {display: none; content: url("../../assets/images/portfolio/colored/image-3.png") }
  .image-4 {display: none; content: url("../../assets/images/portfolio/colored/image-4.png") }
  .image-5 {display: none; content: url("../../assets/images/portfolio/colored/image-5.png") }
  .image-6 {display: none; content: url("../../assets/images/portfolio/colored/image-6.png") }
  .image-7 {               content: url("../../assets/images/portfolio/colored/image-7.png") }
  .image-8 {display: none; content: url("../../assets/images/portfolio/colored/image-8.png") }
  .image-9 {display: none; content: url("../../assets/images/portfolio/colored/image-9.png") }
}
@media(max-width: 562px) {
  @include info-scale(0.8);
  .portfolio__image {
    width: calc(0.8 * $image__width-mobile);
  }
}
@media(max-width: 449.6px) {
  @include info-scale(0.6);
  .portfolio__image {
    width: calc(0.6 * $image__width-mobile);
  }
}
@media(max-width: 337.2px) {
  @include info-scale(0.4);
  .portfolio__image {
    width: calc(0.4 * $image__width-mobile);
  }
}

