.main {
    max-width: 1440px;
    min-height: 1045px;
    margin: 0 auto;
    padding: 33px 203px 0 202px;
    background: url("../../assets/images/sonya-welcome.png") no-repeat right top;
}
.header {
    padding-left: 2px;
    display: flex;
    justify-content: space-between;
    font-family: IFKica, serif;
}
.header__logo {
    font-size: 24px;
    color: var(--color-black);
    user-select: none;
}
.header__navigation {
    width: 593px;
    padding-top: 4px;
    color: var(--color-white);
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.hero {
    padding-top: 263px;
    display: flex;
    flex-direction: column;
    gap: 46px;
}
.hero__title {
    display: flex;
}
.hero__title span {
    width: 266px;
    position: relative; /*все еще неточно*/
    right: 113px;
    top: 95px;
    transform: rotate(-8.42deg);
    user-select: none;
    font-family: RozoviiChulok, serif;
    font-size: 70px;
    color: var(--color-red);
}
.hero__quote {
    font-family: IFKica, serif;
    font-weight: 300;
    font-size: 20px;
    color: var(--color-grey);
}
.hero__button button {
    padding: 18px 44px;
    border: none;
    background-color: var(--color-red);
    font-family: IFKica, serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--color-white)
}