$margin__desktop: 1.5rem;
$padding__top-desktop: 6.0625rem;
$padding__side-desktop: 11.25rem;
$padding__bottom-desktop: 5.875rem;

$header__margin-bottom-desktop: 1.5rem;
$header__font-size-desktop: 2rem;
$text__font-size-desktop: 1rem;
$image__width-desktop: 26.125rem;


$margin__mobile: 1.75rem;
$padding__top-mobile: 6.25rem;
$padding__side-mobile: 3.25rem;

$header__margin-bottom-mobile: 2.1rem;
$header__font-size-mobile: 2.8rem;
$text__font-size-mobile: 1.4rem;
$image__width-mobile: 36.575rem;
$body__gap-mobile: 3rem;

.info {
  width: 1440px;
  margin: 0 auto;
  background-color: var(--color-beige);
}
.info__card {
  padding: $padding__top-desktop $padding__side-desktop $padding__bottom-desktop;
  margin: 0 $margin__desktop;

  background-color: var(--color-white);
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;

  font-family: IFKica, serif;
  color: var(--color-grey);
}

.info__header {
  margin-bottom: $header__margin-bottom-desktop;
  font-size: $header__font-size-desktop;
  font-weight: bold;
  text-align: right;
}
.info__body {
  display: flex;
  justify-content: space-between;
}
.info__text {
  font-size: $text__font-size-desktop;
  line-height: 160%;
  font-weight: lighter;
}
.info__image {
  width: $image__width-desktop;
}
.desktop {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}
.mobile {
  display: none;
}

@media (max-width: 750px) {
  .info {
    width: 750px;
  }
  .info__card {
    padding: $padding__top-mobile $padding__side-mobile;
    margin: 0 $margin__mobile;
  }

  .info__header {
    margin-bottom: $header__margin-bottom-mobile;
    font-size: $header__font-size-mobile;
    text-align: left;
  }
  .info__body {
    flex-direction: column;
    gap: $body__gap-mobile;
  }
  .info__text {
    font-size: $text__font-size-mobile;
  }
  .info__image {
    width: $image__width-mobile;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

