$margin: 1.5rem;
$gap: 2.159625rem;
$padding-top: 6.0625rem;
$padding-side: 3rem;
$padding-bottom: 5.875rem;
$header__font-size: 2rem;
$text__font-size: 1rem;
$image__width: 26.125rem;
@mixin info-scale($factor) {
  .info {
    margin: 0 calc($factor * $margin);
  }
  .info__card {
    padding: calc($factor * $padding-top) calc($factor * $padding-side) calc($factor * $padding-bottom);
  }
  .info__header {
    margin-bottom: calc($factor * $margin);
    font-size: calc($factor * $header__font-size);
  }
  .info__body {
    gap: calc($factor * $gap)
  }
  .info__image {
    width: calc($factor * $image__width)
  }
  .info__text {
    font-size: calc($factor * $text__font-size);
  }
}
.info {
  margin: 0 $margin;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: IFKica, serif;
  color: var(--color-black);
}
.info__card {
  padding: $padding-top $padding-side $padding-bottom;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
  background-color: var(--color-white);
}
.info__header {
  margin-bottom: $margin;
  font-size: $header__font-size;
  font-weight: bold;
  text-align: right;
}
.info__body {
  display: flex;
  gap: $gap;
}
.info__image {
  width: $image__width;
}
.info__text {
  font-size: $text__font-size;
  font-weight: lighter;
}
.desktop {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.mobile {
  display: none;
}

@media(max-width: 1176px) {
  @include info-scale(0.8);
}
@media(max-width: 941px) {
  @include info-scale(0.6);
}
@media(max-width: 705px) {
  @include info-scale(1);
  .info__header {
    text-align: left;
  }
  .info__body {
    display: flex;
    flex-direction: column;
    gap: $gap;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media(max-width: 562px) {
  @include info-scale(0.8);
}
@media(max-width: 449.6px) {
  @include info-scale(0.6);
}
@media(max-width: 337.2px) {
  @include info-scale(0.4);
}

