.info {
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 102px 179px 90px 179px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: var(--color-white);
    transform: translateY(-35px);
}

.info__text {
    width: 592px;
    padding-top: 58px;
    font-family: IFKica, serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-black);
 }
.info__content {
    display: flex;
    justify-content: space-between;
}
.info__title {
    font-family: IFKica, serif;
    font-weight: bold;
    font-size: 32px;
    color: var(--color-black);
    text-align: right;
}