.info {
    max-width: 1440px;
    margin: 0 auto;
}
.info__card {
    margin: 0 1.5rem;
    display: flex;

    border-top-left-radius: 1.875rem;
    border-top-right-radius: 1.875rem;
    background-color: var(--color-white);

    font-family: IFKica, serif;
    color: var(--color-black);
}
.info__content {
    margin: 0 auto;
    padding: 6rem 3rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.info__body {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.info__header {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
}
.info__text {
    font-weight: lighter;
    font-size: 1rem;
    line-height: 160%;
    .info__text_desktop {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
.info__text_mobile {
    display: none;
}
.info__image{
    align-content: center;
}
@media (max-width: 1165px) {
    .info__content {
        padding: 4.5rem 2.25rem;
    }
    .info__header {
        font-size: 1.5rem
    }
    .info__body {
        gap: 1.125rem;
    }
    .info__text {
        font-size: 0.75rem
    }
    .info__image img{
        width: 19.594rem;
        height: 21.328rem;
    }
}

@media (max-width: 886px) {
    .info__content {
        padding: 3rem 1.5rem;
    }
    .info__header {
        font-size: 1rem
    }
    .info__body {
        gap: 0.75rem;
    }
    .info__text {
        font-size: 0.5rem
    }
    .info__image img{
        width: 13.063rem;
        height: 14.219rem;
    }
}
@media (max-width: 607px) {
    .info__content {
        padding: 4.5rem 2.25rem;
    }
    .info__header {
        font-size: 1.5rem
    }
    .info__body {
        gap: 1.125rem;
    }
    .info__text {
        font-size: 0.75rem
    }
    .info__image img{
        width: 19.594rem;
        height: 21.328rem;
    }
    .info__text_mobile {
        display: block;
    }
    .info__text_desktop {
        display: none;
    }
    .info__body {
        flex-direction: column;
    }
}
@media (max-width: 434px) {
    .info__content {
        padding: 3rem 1.5rem;
    }
    .info__header {
        font-size: 1rem
    }
    .info__body {
        gap: 0.75rem;
    }
    .info__text {
        font-size: 0.5rem
    }
    .info__image img{
        width: 13.063rem;
        height: 14.219rem;
    }
}
@media (max-width: 316px) {}